<ion-card>

  <ion-item>
    <ion-avatar item-start>
      <img src="../../assets/imgs/marty-avatar.png">
    </ion-avatar>
    <h2>{{ obj_feed.title }}</h2>
    <p>{{ obj_feed.date }}</p>
  </ion-item>

  <img src="../../assets/imgs/feed-img.png">

  <ion-card-content>
    <p>{{ obj_feed.desctiption}}</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="thumbs-up"></ion-icon>
        <div>{{ obj_feed.qtd_likes}}</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="text"></ion-icon>
        <div>{{ obj_feed.qtd_coomments }}</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        {{ obj_feed.time_comment }}
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card>