<!--
  Generated template for the IntroPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content>
  <ion-slides pager>
    <ion-slide class="slide_image">
      <img src="../../assets/imgs/intro/slide_1.png" alt="">
      <h2>Meu primeiro app é incrivel</h2>
      <br>
      <p>Fiz ele com ionic, <strong>Experimente ele</strong></p>
    </ion-slide>
  
    <ion-slide class="slide_image">
      <img src="../../assets/imgs/intro/slide_2.png" alt="">  
      <h2>Ele é muito bom</h2>
    </ion-slide>
  
    <ion-slide class="slide_image">
      <img src="../../assets/imgs/intro/slide_3.png" alt="">
      <h2>Use-o com sabedoria</h2>
      <a (click)="goToTabsPage()">Entendi</a>
    </ion-slide>
  </ion-slides>
</ion-content>
